*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    background-color: rgb(83, 83, 255);
}

.box{
    width: 80%;
    max-width: 1020px;
    
    margin: auto;
    margin-top: 10vh;
    padding: 40px;
    border-radius: 26px;

    box-shadow: 10px 10px 20px rgb(65, 65, 158);
    background-color: aliceblue;
}

#barra{
    width: 70%;
    max-width: 800px;
    min-width: 250px;
    height: 30px;

    margin: 20px 0;
    border-radius: 26px;

    box-shadow: 0px 5px 20px inset rgb(82, 82, 82);
    background-color: rgb(190, 190, 190);
    border: 2px solid black;
}

#barra:hover{
    background-color: rgb(228, 228, 228);
}

#barra-fill{
    width: 0;
    height: 100%;

    border-radius: 26px 0 0 26px;

    background-color: rgb(88, 88, 88);
    box-shadow: 0px 5px 20px inset rgb(10, 10, 10);
}

#pointer{
    width: 45px;
    height: 45px;

    margin-top: -35px;
    margin-left: 0px;
    border-radius: 10px;

    background-color: rgb(199, 199, 199);
    border: 2px solid black
}

#pointer:hover{
    background-color: gray;
}

#precos{
    width: 70%;
    max-width: 800px;
    min-width: 250px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
